<div>
  <div class="row">
    <div class="col-sm-4">
      <h1>Forex Netting</h1>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <a href="login">
              <button type="button" class="btn btn-primary btn-lg btn-block">Login</button>
            </a>
        </div>
        <div class="col-sm-4">
          <a href="register">
            <button type="button" class="btn btn-primary btn-lg btn-block">Register</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>