<div *ngIf="tradedOrders == null || tradedOrders.length <= 0">
  <h2>
    Your trade blotter is empty.
  </h2>
</div>
<div *ngIf="tradedOrders != null && tradedOrders.length > 0">
  <table class="table  text-center">
    <thead>
      <tr>
          <th>ORDER ID</th><!--arrow_drop_down arrow_drop_up-->
          <th>TYPE</th>
          <th>CURRENCY PAIR</th>
          <th>NOTIONAL AMOUNT</th>
          <th>ORDERED DATE</th>
          <th>STATUS</th>
      </tr>
    </thead>

    <tbody>
      <tr  *ngFor="let tradedOrder of tradedOrders" class="">
        <td>{{tradedOrder.id}}</td>
        <td>{{tradedOrder.type}}</td>
        <td>{{tradedOrder.currencyPair.name}}</td>
        <td>{{tradedOrder.notionalAmount}}</td>
        <td>{{tradedOrder.orderedDate}}</td>
        <td>{{tradedOrder.status}}</td>
      </tr>
    </tbody>

  </table>
</div>