<app-dashboard></app-dashboard>
<h2>Trade Blotter</h2><br><br>
<table class="">
  <thead>
    <tr>
        <th>ORDER ID</th><!--arrow_drop_down arrow_drop_up-->
        <th>BUY / SELL</th>
        <th>CURRENCY PAIR</th>
        <th>BID AMOUNT</th>
        <th>STATUS</th>
    </tr>
  </thead>

  <tbody>
    <tr  *ngFor="let item of tradeData" class="">
      <td>{{item.orderId}}</td>
      <td>{{item.currencyId}}</td>
      <td>{{item.currencyPair}}</td>
      <td>{{item.bidAmount}}</td>
      <td>{{item.orderStatus}}</td>
    </tr>
  </tbody>

</table>