<!-- <app-orderblotter></app-orderblotter>
<app-tradeblotter></app-tradeblotter> -->
<div>
    <div class="row">
      <div class="col-sm-4">
        <h1>Forex Netting</h1>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
              <a href="orderblotter">
                <button type="button" class="btn btn-primary btn-lg btn-block">Order Blotter</button>
              </a>
          </div>
          <div class="col-sm-4">
            <a href="tradeblotter">
              <button type="button" class="btn btn-primary btn-lg btn-block">Trade Blotter</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>