<!-- <app-orderblotter></app-orderblotter>
<app-tradeblotter></app-tradeblotter> -->
<div class="container">
    <div class="row">
      <div class="">
        <h1>Forex Netting</h1>
      </div>

      <div class="col-sm-4">
        
        <div class="row">
          
          <div class="col-sm-4"></div>

          <div class="col-sm-4">
              <a href="orderblotter">
                <button type="button" class="btn btn-primary btn-lg btn-block">Order Blotter</button>
              </a>
          </div>

          <div class="col-sm-4">
            <a href="tradeblotter">
              <button type="button" class="btn btn-primary btn-lg btn-block">Trade Blotter</button>
            </a>
          </div>

        </div>
      </div>
    </div><br><br><br>
    <div class="col-sm-4">
        <a href="buy">
          <button type="button" class="btn btn-primary btn-lg btn-block">BUY</button>
        </a>
    </div><br><br>
    <div class="col-sm-4">
      <a href="sell">
        <button type="button" class="btn btn-primary btn-lg btn-block">SELL</button>
      </a>
    </div>
  </div>
<!--
  <div class="row">
    <form class="col s12">
     <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
    </form>
  </div>
  -->
  
  <br><br><br><br><br><br><br><br><br>
  <div class="card-panel">
    <span class="blue-text text-darken-2">Forex Netting System</span>
  </div>
<app-currency-pair-prices></app-currency-pair-prices>