<!-- <app-orderblotter></app-orderblotter>
<app-tradeblotter></app-tradeblotter> -->
<nav class="navbar fixed-top navbar-expand-lg  teal">
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/Icon.png" width="33" height="33" class="d-inline-block align-top" alt="">
    &nbsp;
    <img src="../../assets/images/Forex Header.png" width="140" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="orderblotter">Order Blotter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="tradeblotter">Trade Blotter</a>
      </li>
    </ul>
  </div>
  &nbsp;
  <a class="navbar-brand" href="#">
    <img style="border-radius: 50%;" src='../../assets/images/rohith.jpg'width="33" height="33" class="d-inline-block align-top" alt="">
    
  </a>
</nav> 

<br><br><br><br><br><br>
<!-- Image
<div class = "d-flex justify-content-center">
  <img src="../../assets/images/Forex Center.png" width="450" height="333" class="d-inline-block align-top responsive" alt="">
</div>
-->
<!-- Body Content -->
<div class="col-sm-4">
  <a href="buy">
    <button type="button" class="btn btn-primary btn-lg btn-block">BUY</button>
  </a>
</div><br><br>

<div class="col-sm-4">
<a href="sell">
  <button type="button" class="btn btn-primary btn-lg btn-block">SELL</button>
</a>
</div>
<!-- End Body Content -->

<!-- Footer -->
<footer class="page-footer fixed-bottom font-small teal">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">
      <a class="text-white" href="https://github.com/abhijeet1997/ForexNettingSystem"> Forex Netting System</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
<!--
<div class="container">
    <div class="row">
      <div class="">
        <h1>Forex Netting</h1>
      </div>

      <div class="col-sm-4">
        
        <div class="row">
          
          <div class="col-sm-4"></div>

          <div class="col-sm-4">
              <a href="orderblotter">
                <button type="button" class="btn btn-primary btn-lg btn-block">Order Blotter</button>
              </a>
          </div>

          <div class="col-sm-4">
            <a href="tradeblotter">
              <button type="button" class="btn btn-primary btn-lg btn-block">Trade Blotter</button>
            </a>
          </div>

        </div>
      </div>
    </div><br><br><br>

    <div class="col-sm-4">
        <a href="buy">
          <button type="button" class="btn btn-primary btn-lg btn-block">BUY</button>
        </a>
    </div><br><br>

    <div class="col-sm-4">
      <a href="sell">
        <button type="button" class="btn btn-primary btn-lg btn-block">SELL</button>
      </a>
    </div>

  </div>
/////////
  <div class="row">
    <form class="col s12">
     <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
    </form>
  </div>
  
  
  <br><br><br><br><br><br><br><br><br>
  <div class="card-panel">
    <span class="blue-text text-darken-2">Forex Netting System</span>
  </div>-->
<app-currency-pair-prices></app-currency-pair-prices>